.header
  .header__logo
    グループを作成しました
.contents
  .content-leftside
    .content-leftside__upper
      .content-leftside__upper__text
        test_user
      .content-leftside__upper__icon
        =link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
          = fa_icon 'edit', class: "contents__btn--icon"
          %span<>
        =link_to "https://twitter.com/", class: "contents__btn contents__btn--twitter" do
          = fa_icon 'cog', class: "contents__btn--icon"
    .content-leftside__lower
      .content-leftside__lower__groupname
        グループ名
      .content-leftside__lower__text
        テキスト
      .content-leftside__lower__groupname
        グループ名
      .content-leftside__lower__text
        テキスト
      .content-leftside__lower__groupname
        グループ名
      .content-leftside__lower__text
        テキスト
  .content-rightside
    .content-rightside__upper
      .content-rightside__upper__left
        .content-rightside__upper__left__groupname
          グループ名
        .content-rightside__upper__left__username
          Member:ユーザーネーム
      .content-rightside__upper__right
        .content-rightside__upper__editbutton
          Edit
    .content-rightside__lower
      .content-rightside__lower__uppersize
      .content-rightside__lower__userdays
        .content-rightside__lower__userdays__username
          ユーザーネーム
        .content-rightside__lower__userdays__days
          2019/08/22(Thu)09:15:48
      .content-rightside__lower__text
        テキスト
      .content-rightside__lower__userdays
        .content-rightside__lower__userdays__username
          ユーザーネーム
        .content-rightside__lower__userdays__days
          2019/08/22(Thu)09:15:48
      .content-rightside__lower__text
        テキスト
    .content-rightside__lower__bottom
      .content-rightside__lower__bottom__box
        %form{class: "form"}
          %input.form__message{placeholder: "type a message"}
          .form__mask
            %label.form__mask__image
              = fa_icon 'picture-o', class: 'icon'
              %input.hidden{type: 'file'}
          %input.form__submit{type: 'submit', value: 'Send'}




